<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
{% load crispy_forms_tags %}

                <title>Register</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'bootstrap3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">
    <script src="{% static 'jquery/jquery.min.js' %}" ></script>

</head>
<body id="register">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a herf="#" class="navbar-brand" id="navbar">Employee Registration</a> 
            </div>
            <div class="nav navbar-header navbar-right ">
                <ul class="nav navbar-nav " >
                   <li><a href="{% url 'Update' %}"  class="navbar-brand " id="pad">Update Details</a></li>
                   <li><p  class="navbar-brand" >|</p><l/i>
                   <li><a href="{% url 'Delete' %}" class="navbar-brand pad" id="pad">Delete Details</a></li>
                   <li><p  class="navbar-brand" >|</p><l/i>
                   <li><a href="{% url 'Details' %}" class="navbar-brand" id="pad">All Details</a></li>
                   <li><p  class="navbar-brand" >|</p><l/i>
                   <li><a href="{% url 'Home' %}" class="navbar-brand" id="pad">Home</a></li>

                </ul>
            </div>
        </div>
    </nav>

<br><br><br>

<div class="container-fluid ">
    <div class="col-md-offset-4 col-md-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {% if message.tags == 'error' %}
                        {{message}}

                    {% else %}
                        {{message}}
                    {% endif %}

                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>



<div class="containar-fluid" style="margin-top: 50px;">
    <div class=" col-md-offset-4 col-md-4 well">
        <h2 class="text-primary page-header text-center ">Register Here</h2>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.Empname|as_crispy_field}}
            {{form.Age|as_crispy_field}}
            <div class="row">
                <div class="col-md-4">
                    {{form.Salary|as_crispy_field}}
                </div>
                <div class="col-md-8">
                    {{form.Position|as_crispy_field}}
                    </div>
            </div>
            {{form.Contact|as_crispy_field}}
            {{form.Address|as_crispy_field}}

            <div class="form-group pull-right">
                <button  type="submit" class="btn btn-primary">Submit</button>
                <button  type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>

</body>

<script>
    $(document).ready(function(){
        $(".alert").hide(2000);
    });
</script>

</html>