#pad{
    padding-right: 30px;
}

#card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;


}

#card:hover{
    transform: translateY(-10px);
}

             /*   Background  image       */
#bg{
    background: url("/static/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#register{
    background: url("/static/images/12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#update{
    background: url("/static/images/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#update2{
    background: url("/static/images/12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#delete{
    background: url("/static/images/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#details{
    background: url("/static/images/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


#contact{
    background: url("/static/images/9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
    
}


#about{
    background: url("/static/images/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
    
}



#navbar{
    color: white;
}

#boxshadow{
    box-shadow: 2px 2px 10px 0px black;
}
    